body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D3F8F9;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 25px;
  width: 8em;
  height: 2em;
  color: #1ADBE5;
  border-left: 0.08em solid;
  position: relative;
  margin-top: 0.8em;
  cursor: pointer;
}
li span {
  position: relative;
  height: 120%;
  top: -10%;
  box-sizing: border-box;
  border: 0.08em solid;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-transform: capitalize;
  transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
  transition: 0.3s;
}

li:hover span {
  transform: translateX(0.15em);
}