/*body background css*/
body{
    padding: 0;
    margin: 0;
    background: url(background.jpg)no-repeat;
    background-size: cover;
}

/*login form css*/
.form{
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    opacity: 99%;
    max-width: 260px;
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.form p{
    font-size: 15px;
    padding: 1px;
    text-align: center;
}
.form input{
    outline: 0;
    border-radius: 10px;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form input:hover{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}
.form input:focus{
    background-color: #D3F8F9;
    transition: all 1s ease 0s;
}
.form button{
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #1ADBE5;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.form button:hover, .form button:active, .form button:focus{
    background-color: #06C5CF;
    transition: all 1s ease 0s;
}
.form .message{
    margin: 15px 0 0;
    color: #B3B3B3;
    font-size: 12px;
}
.form .message a{
    color: #06C5CF;
    text-decoration: none;
}
.form .adminLogBtn{
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: #039797;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10%;
    
}

.form-alert {
    color: rgb(94, 3, 3);
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0.5rem;
    display: none;
}

.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: 0.25rem;
}
  
.alert-danger {
    color: rgb(94, 3, 3);
    background: rgb(236, 109, 109);
}
.alert-success {
    color: rgb(3, 59, 31);
    background: rgb(95, 230, 95);
}

.text-success {
    color: rgb(3, 59, 31);
  }
  

  #flight-dates {
    display: flex;
    border-bottom: 1px dotted silver;
  }
  
  .info-box {
    padding: 10px 0;
    margin-top: 20px;
    flex: 1;
    border-right: 20px solid transparent;
  }
  .info-box:last-child {
    border-right: none;
  }
  .info-box label {
    display: block;
    color: #6B6A6A;
    font-size: .9em;
  }
  .info-box input[type=text], input[type=submit], select {
    border: none;
    outline: none;
    background: #E2E0E0;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    height: 30px;
    border-radius: 3px;
  }
  
  